# Consolidate contributor identities
# Format: Canonical Name <canonical@email> Commit Name <commit@email>

Aryan Farhang <fparyan28@gmail.com> Aryan <aryan@Aryans-MacBook-Pro.local>
Aryan Farhang <fparyan28@gmail.com> Aryan Farhangpour <fparyan28@gmail.com>
Aryan Farhang <fparyan28@gmail.com> Aryan Farhang Pour <146472190+Drakonheart@users.noreply.github.com>

Isaiah Ballah <isaiahballah@gmail.com> isaiahb <isaiahballah@gmail.com>

Roger <roger@mentra.glass> Roger <github@betechie.com>
