apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    k8s.aliyun.com/ess-scaling-group-max-size: "2"
    k8s.aliyun.com/ess-scaling-group-name: mentra-dev-ecisg-cloud
    k8s.aliyun.com/ess-scaling-group-min-size: "1"
  name: mentra-dev-ecig-api-cnsz
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mentra-dev-ecig-api-cnsz
  template:
    metadata:
      annotations:
        k8s.aliyun.com/eci-vswitch: vsw-wz951dlbxvoeeakcrmjr2
        k8s.aliyun.com/eci-spot-strategy: NoSpot
        k8s.aliyun.com/eci-security-group: sg-wz98079z7qd7oz2xtmt3
        k8s.aliyun.com/eci-use-specs: 2.0-4.0Gi
    spec:
      containers:
        - args:
            - ./start.sh
          env:
            - name: ANTHROPIC_API_KEY
              value: "${ANTHROPIC_API_KEY}"
            - name: AUGMENTOS_AUTH_JWT_SECRET
              value: "${AUGMENTOS_AUTH_JWT_SECRET}"
            - name: AZURE_OPENAI_API_DEPLOYMENT_NAME
              value: "${AZURE_OPENAI_API_DEPLOYMENT_NAME}"
            - name: AZURE_OPENAI_API_INSTANCE_NAME
              value: "${AZURE_OPENAI_API_INSTANCE_NAME}"
            - name: AZURE_OPENAI_API_KEY
              value: "${AZURE_OPENAI_API_KEY}"
            - name: AZURE_OPENAI_API_VERSION
              value: "${AZURE_OPENAI_API_VERSION}"
            - name: AZURE_SPEECH_KEY
              value: "${AZURE_SPEECH_KEY}"
            - name: AZURE_SPEECH_REGION
              value: "${AZURE_SPEECH_REGION}"
            - name: CLOUDFLARE_ACCOUNT_ID
              value: "${CLOUDFLARE_ACCOUNT_ID}"
            - name: CLOUDFLARE_API_TOKEN
              value: "${CLOUDFLARE_API_TOKEN}"
            - name: CLOUD_URL
              value: "${CLOUD_URL}"
            - name: CLOUD_VERSION
              value: "${CLOUD_VERSION}"
            - name: ELEVENLABS_API_KEY
              value: "${ELEVENLABS_API_KEY}"
            - name: ELEVENLABS_DEFAULT_VOICE_ID
              value: "${ELEVENLABS_DEFAULT_VOICE_ID}"
            - name: INVITE_JWT_SECRET
              value: "${INVITE_JWT_SECRET}"
            - name: JOE_MAMA_USER_JWT
              value: "${JOE_MAMA_USER_JWT}"
            - name: LLM_MODEL
              value: "${LLM_MODEL}"
            - name: LLM_PROVIDER
              value: "${LLM_PROVIDER}"
            - name: MONGO_URL
              value: "${MONGO_URL}"
            - name: NODE_ENV
              value: "${NODE_ENV}"
            - name: OPENAI_API_KEY
              value: "${OPENAI_API_KEY}"
            - name: PORT
              value: "${PORT}"
            - name: POSTHOG_HOST
              value: "${POSTHOG_HOST}"
            - name: POSTHOG_PROJECT_API_KEY
              value: "${POSTHOG_PROJECT_API_KEY}"
            - name: RESEND_API_KEY
              value: "${RESEND_API_KEY}"
            - name: SENTRY_DSN
              value: "${SENTRY_DSN}"
            - name: SERPAPI_API_KEY
              value: "${SERPAPI_API_KEY}"
            - name: SONIOX_API_KEY
              value: "${SONIOX_API_KEY}"
            - name: SUPABASE_JWT_SECRET
              value: "${SUPABASE_JWT_SECRET}"
            - name: SYSTEM_DASHBOARD_PACKAGE_NAME
              value: "${SYSTEM_DASHBOARD_PACKAGE_NAME}"
            - name: TPA_AUTH_JWT_PRIVATE_KEY
              value: "${TPA_AUTH_JWT_PRIVATE_KEY}"
            - name: CLOUD_PUBLIC_HOST_NAME
              value: "${CLOUD_PUBLIC_HOST_NAME}"
            - name: CLOUD_LOCAL_HOST_NAME
              value: "${CLOUD_LOCAL_HOST_NAME}"
            - name: PORTER_APP_NAME
              value: "${PORTER_APP_NAME}"
            - name: CLOUD_HOST_NAME
              value: "${CLOUD_HOST_NAME}"
            - name: SUPABASE_URL
              value: "${SUPABASE_URL}"
            - name: SUPABASE_SERVICE_KEY
              value: "${SUPABASE_SERVICE_KEY}"
            - name: LIVEKIT_URL
              value: "${LIVEKIT_URL}"
            - name: LIVEKIT_API_SECRET
              value: "${LIVEKIT_API_SECRET}"
            - name: LIVEKIT_API_KEY
              value: "${LIVEKIT_API_KEY}"
            - name: BETTERSTACK_SOURCE_TOKEN
              value: "${BETTERSTACK_SOURCE_TOKEN}"
            - name: ADMIN_EMAILS
              value: "${ADMIN_EMAILS}"
            - name: redeploy
              value: "${REDEPLOY}"
            - name: AUTHING_APP_HOST
              value: "${AUTHING_APP_HOST}"
            - name: AUTHING_APP_ID
              value: "${AUTHING_APP_ID}"
            - name: AUTHING_APP_SECRET
              value: "${AUTHING_APP_SECRET}"
            - name: DEPLOYMENT_REGION
              value: "${DEPLOYMENT_REGION}"
            - name: ALIBABA_ENDPOINT
              value: "${ALIBABA_ENDPOINT}"
            - name: ALIBABA_WORKSPACE
              value: "${ALIBABA_WORKSPACE}"
            - name: ALIBABA_DASHSCOPE_API_KEY
              value: "${ALIBABA_DASHSCOPE_API_KEY}"
            - name: ALIBABA_ACCESS_KEY_ID
              value: "${ALIBABA_ACCESS_KEY_ID}"
            - name: ALIBABA_ACCESS_KEY_SECRET
              value: "${ALIBABA_ACCESS_KEY_SECRET}"
          image: mentra-acr-cnsz-a-registry-vpc.cn-shenzhen.cr.aliyuncs.com/mentra-dev/backend:latest
          imagePullPolicy: Always
          lifecycle: {}
          livenessProbe: {}
          name: mentra-dev-eci-api-cnsz
          readinessProbe: {}
          resources:
            limits:
              cpu: 0m
              memory: 0m
      restartPolicy: Always
